html(lang="en")
    head
        title web-ui test
        meta(charset="UTF-8")
    body
        h3 feature demo
        div#ui-1
        h3 alternate css example
        div#ui-2
        h3 testing / special cases
        div#ui-3
