#ui-1 {
    outline: 1px solid black;
    width: 40ch;
    padding: 5px;
}

#ui-1 div {
    display: flex;
}

#ui-1 div:not(:first-child) {
    padding-top: 5px;
}

#ui-1 label {
    margin-right: auto;
}

#ui-1 progress {
    margin: 2px;
}

#ui-1 input, #ui-1 button, #ui-1 select, #ui-1 progress {
    box-sizing: border-box;
    width: 20%;
    margin-left: 5px;
}

#ui-1 input[type=checkbox] {
    width: unset;
}

#ui-1 table {
    border-collapse: collapse;
}

#ui-1 td, #ui-1 th {
    padding: 3px;
    border: 1px solid black;
}
